# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment / secrets
.env

# Dataset
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db